@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.btn {
  @apply py-[3px] px-[8px] font-normal text-sm bg-transparent text-white border-2 border-white rounded-[4px] ;
}
.bg-img{
  background-image: url('/Assets/main-image.jpg');
}

.btn-red-sm {
  @apply py-[3px] px-[8px] text-sm font-normal  bg-red-600 text-white rounded-[4px] ;
}

.btn-red-sm{
  margin-left: 15px;
}